<div class="list-group" *ngFor="let booking of bookings">
    <div class="mb-3 list-group-item bg-white border border-white" aria-current="true">
      <div class="d-flex w-100 justify-content-between pt-2">
        <a routerLink="/editBooking/{{booking.id}}" class="h5 text-decoration-none"><span class="badge bg-secondary">{{booking.id}}</span> {{booking.name}}</a>
        <button (click)="deleteBooking(booking)" type="button" class="btn btn-sm btn-danger">löschen</button>
      </div>
      <p class="mb-1"><span class="fw-bold">Zimmer:</span> {{booking.roomNumber}} | <span class="fw-bold">Datum (von - bis):</span> {{booking.startDate | date: 'dd.MM.yy'}} - {{booking.endDate | date: 'dd.MM.yy'}}  </p>  
    </div>
</div>
